:root{
  /* font-family */
  --accent-ff: 'Plus Jakarta Sans', sans-serif;

  /* accent colors */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* neutral colors */
  --0: hsl(0, 0%, 100%);
  --100: hsl(210, 60%, 98%);
  --200: hsl(211, 68%, 94%);
  --300: hsl(205, 33%, 90%);
  --500: hsl(219, 14%, 63%);
  --600: hsl(219, 12%, 42%);
  --800: hsl(224, 21%, 14%);
  --1000: hsl(0, 0%, 0%);
}

*,*::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  max-width: 375px;
  padding: 0 5%;

  font-family: var(--accent-ff);
}